.Header {
    background-color: aquamarine;
    color: grey;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
}