.Container {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1080px;
    margin: 0 auto;
    background-color: aliceblue;

}

.link {
    color: grey;
    flex-direction: column;
    padding: 10px;
    font-size: 12px;
}

.button {
    background-color: aliceblue;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    font-size: 15px;
    border-radius: 12px;
    height: fit-content;
    margin: 15px;
}

/* Responsive styles */
@media screen and (max-width: 1080px) {

    /* Adjust styles for smaller screens */
    header,
    footer {
        padding: 10px;
    }

    main {
        padding: 10px;
    }
}